<h1>New Game</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.publisher_game_path(@conn, :create, @game)) %>

<span><%= link "Back", to: Routes.publisher_game_path(@conn, :index, @game) %></span>
