<h1>Show Publisher</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @publisher.name %>
  </li>

  <li>
    <strong>Year:</strong>
    <%= @publisher.year %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @publisher.location %>
  </li>

  <li>
    <strong>Platform:</strong>
    <%= @publisher.platform %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.publisher_path(@conn, :edit, @publisher) %></span>
<span><%= link "Back", to: Routes.publisher_path(@conn, :index) %></span>
